body {
    font-family: Arial, sans-serif;
    background-color: #DEE5E5;
    margin: 0;
    box-sizing: border-box;
}

/* Header */

header{
    display: flex;
    width: 100%;
    background-color: #232323;
    padding: 10px;
}

.header__elements{
    color: #DEE5E5;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
    margin: 0 auto;
}

.header__elements img{
    width: 50px;
}

/* Navegación */

.tab-navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-link {
    background-color: #232323;
    color: #F5F4F4;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0;
    flex: 1;
    font-size: 26px;
}

.tab-link:hover, .tab-link.active {

    background-color: #DEE5E5;
    color: #233D56;
    font-weight: bold;
}

.tab-content {
    display: none;
    max-width: 1500px;
    padding: 20px;
    border: 1px solid #233D56;
    border-radius: 5px;
    background-color: #F5F4F4;
    animation: fadeIn 0.5s;
}

.tab-content.active {
    display: block;
    margin: 0 auto;
}

/* Menu Pedidos */

#pedidos.active {
    display: grid;
    align-content: center;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Pendientes */

.pedidos__pendientes{
    background-color: #F5F4F4;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 0px 6px 0px #2323238a;
    padding: 10px;
    height: 650px;
}

.pedidos__pendientes .title{
    background-color: red;
    height: 50px;
    text-align: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding-bottom: 6px;
    margin: -10px;
}

.pendientes__cards{
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente línea */
    gap: 16px; /* Espacio entre las tarjetas */
    padding: 16px;
    overflow-y: scroll;
    justify-content: center;
}


/* En progreso */

.pedidos__espera{
    background-color: #F5F4F4;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 0px 6px 0px #2323238a;
    padding: 10px;
    height: 650px;
}

.pedidos__espera .title{
    background-color: yellow;
    height: 50px;
    text-align: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding-bottom: 6px;
    margin: -10px;
}

.espera__cards{
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente línea */
    gap: 16px; /* Espacio entre las tarjetas */
    padding: 16px;
    overflow-y: scroll;
    justify-content: center;
}

/* Finalizados */

.pedidos__finalizados{
    background-color: #F5F4F4;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 0px 6px 0px #2323238a;
    padding: 10px;
    height: 650px;
}

.pedidos__finalizados .title{
    background-color: green;
    height: 50px;
    text-align: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding-bottom: 6px;
    margin: -10px;
}

.finalizados__cards{
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente línea */
    gap: 16px; /* Espacio entre las tarjetas */
    padding: 16px;
    overflow-y: scroll;
    justify-content: center;
}

/* Cartas */

.card {
    border: 1px solid #233D56;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #F5F4F4;
    width: 350px;
    height: auto;
    position: relative;
}

.card__fecha{
    font-style: italic;
    color: #998c8c;
    font-size: 14px;
    right: 16px;
    top: 12px;
    position: absolute;
}

.card h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 4px;
    border-bottom: 1px solid #232323;
}

.card p {
    margin: 5px 0;
}

.card_platos{
    border-bottom: 1px solid #232323;
    padding: 4px 0 4px 0;
}

.card .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.card button {
    padding: 5px;
    border: none;
    background-color: #233D56;
    color: #F5F4F4;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

.card button:hover {
    background-color: #F2D6AD;
    color: #233D56;
}

.card_plato {
    display: flex;
    justify-content: space-between;
    margin: 4px 0; /* Ajusta el margen según sea necesario */
    padding: 2px 0 2px 0;
}

.plato__nombre {
    text-align: left;
}

.plato__cantidad {
    text-align: right;
}

/* Menu cartas */

.menu-section {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 20px;
    justify-content: center;
}

.menu-add-card {
    width: 200px;
    height: 200px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu-add-card button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #4caf50;
    text-align: center;
}

.menu-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.menu-card {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.menu-card-img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.menu-card-details {
    padding: 16px;
}

.menu-card-title {
    font-size: 18px;
    margin: 0 0 8px 0;
}

.menu-card-description {
    font-size: 14px;
    color: #666;
    margin: 0 0 8px 0;
}

.menu-card-price {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 8px 0;
}

.menu-card-buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.menu-card-edit-btn, .menu-card-delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.menu-card-edit-btn:hover, .menu-card-delete-btn:hover {
    color: red;
}

/* Popup de plato*/

.popup {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

.popup-content form {
    display: flex;
    flex-direction: column;
}

.popup-content form label {
    margin: 10px 0 5px 0;
}

.popup-content form input, 
.popup-content form textarea,
.popup-content form select {
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.popup-content form button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.category-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#add-category-btn, #remove-category-btn {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: #f2d6ad;
    border-radius: 4px;
    color: #233D56;
}

#remove-category-btn {
    background-color: red;
    color: white;
}

#plate-category option {
    position: relative;
    padding-right: 20px; /* Espacio para la cruz de eliminar */
}

#plate-category .remove-category {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: red;
    font-weight: bold;
}


#cancel-btn {
    background-color: #ccc;
    margin-left: 10px;
}


/* Animaciones */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

