body {
    font-family: Arial, sans-serif;
    background-color: #DEE5E5;
    margin: 0;
    box-sizing: border-box;
}

/* Header */

header{
    display: flex;
    width: 100%;
    background-color: #232323;
    padding: 10px;
}

.header__elements{
    color: #DEE5E5;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:space-between;
}

.header__elements img{
    width: 50px;
}

/* Navegación */

.tab-navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-link {
    background-color: #233D56;
    color: #F5F4F4;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 5px;
}

.tab-link:hover, .tab-link.active {

    background-color: #F2D6AD;
    color: #233D56;
}

.tab-content {
    display: none;
    max-width: 1200px;
    padding: 20px;
    border: 1px solid #233D56;
    border-radius: 5px;
    background-color: #F5F4F4;
    animation: fadeIn 0.5s;
}

.tab-content.active {
    display: block;
    margin: 0 auto;
}

/* Menu Pedidos */

#pedidos.active {
    display: grid;
    align-content: center;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Pendientes */

.pedidos__pendientes{
    background-color: #F5F4F4;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 0px 6px 0px #2323238a;
    padding: 10px;
}

.pedidos__pendientes .title{
    background-color: red;
    height: 50px;
    text-align: center;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding-bottom: 6px;
    margin: -10px;
}

.pendientes__cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}


/* En progreso */

.pedidos__espera{
    background-color: yellow;

}

/* Finalizados */

.pedidos__finalizados{
    background-color: green;
}

/* Cartas */

.card {
    border: 1px solid #233D56;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
}

.card h3 {
    margin-top: 0;
}

.card p {
    margin: 5px 0;
}

.card .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.card button {
    padding: 5px 10px;
    border: none;
    background-color: #233D56;
    color: #F5F4F4;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 3px;
}

.card button:hover {
    background-color: #F2D6AD;
    color: #233D56;
}


/* Animaciones */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

